* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  max-width: 1440px;
  background-image: url(img/bcgr_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__text {
  padding-top: 218px;
}
.top__heading {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 32px;
}
.top__par {
  width: 430px;
  color: #FFF;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 44px;
}
.top__par_tag {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.top__button_go {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  padding-left: 74px;
  padding-right: 74px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-sizing: border-box;
  border-radius: 30px;
  background: #9C0332;
  width: 234px;
  height: 48px;
}
.top__button_go:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  box-shadow: 0 0 5px #ccc;
}

.main {
  max-width: 1440px;
  background: #000915;
  display: flex;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.main__section {
  width: 379px;
  height: 300px;
  border-radius: 16px;
  flex-shrink: 0;
}
.main__section:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  box-shadow: 0 0 5px #44D2FF;
}

.gametext {
  position: absolute;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-top: 236px;
  padding-left: 32px;
  box-sizing: border-box;
}

.seasons {
  max-width: 1440px;
  height: 556px;
  background: #000915;
  padding-top: 234px;
}
.seasons__section {
  display: flex;
  flex-wrap: wrap;
  gap: 131px;
}
.seasons__text {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.seasons__text_title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
}
.seasons__text_par {
  color: #FFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  width: 584px;
}
.seasons__picture {
  width: 485px;
  height: 333px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .top__heading {
    font-size: 32px;
    text-align: center;
  }
  .top__par {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 343px;
    text-align: center;
    margin-bottom: 32px;
  }
  .top__text {
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1221px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .main__section {
    max-width: 343px;
  }
  .main__section_img {
    width: 100%;
    height: 300px;
  }
  .seasons {
    padding-top: 0px;
    height: 654px;
  }
  .seasons__section {
    gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .seasons__picture {
    max-width: 344px;
    height: 236px;
    flex-shrink: 0;
  }
  .seasons__picture_pic {
    width: 100%;
  }
  .seasons__text {
    width: 100%;
    align-items: center;
  }
  .seasons__text_title {
    text-align: center;
    font-size: 32px;
  }
  .seasons__text_par {
    width: 343px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .top__heading {
    text-align: center;
  }
  .top__par {
    text-align: center;
    margin-bottom: 44px;
  }
  .top__text {
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1221px;
    padding-top: 0;
  }
  .seasons {
    height: 800px;
    padding-top: 100px;
  }
  .seasons__section {
    gap: 100px;
    justify-content: center;
  }
  .seasons__text {
    align-items: center;
  }
  .seasons__text_par {
    text-align: center;
  }
  .seasons__picture {
    width: 550px;
  }
  .seasons__picture_pic {
    width: 100%;
  }
}
@media (max-width: 374px) {
  .main {
    gap: 0px;
    height: 1000px;
  }
  .main__section {
    max-width: 303px;
  }
  .main__section_img {
    width: 100%;
    height: 300px;
  }
  .seasons {
    height: 600px;
    padding-top: 0;
  }
}/*# sourceMappingURL=style.css.map */